
:root{
    --gold: #d89d46;
    --white: white;
    --clear: #ffffff00;
    --darkBlue: rgb(16 41 70 / 1);
}

.white{
    color:var(--white)
}

.name{
    display:inline-flex;
    justify-content: space-between;
    width: 100%;
    padding:5rem;
    padding-right: 1rem;
}

.nav{
    position:static;
    left:300px;
}

.nav-icon{
    height:32px;
    width:32px;
    color: white;
    background-color: black;
    border-radius: 50%;
    overflow:visible;
    padding:6px;
    border: 3px solid black;
    box-sizing:content-box;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav-icon:hover{
    background-color: #6c757d;
    border-color: #6c757d;
}

.font-7{
    font-size: 5rem;
    text-align: left;
}

.font-2{
    font-size: 2rem;
    text-align: left;
}

.mountain{
    object-fit: cover;
    overflow:hidden;
}

.jumbotron{
    background-color: var(--clear);
    background-image: url(mountain-547363_1920.jpg);
}

.navbar-dark{
    border-color: white;
} 

.bg-dark{
    border-color:white
}

.tab {
    display:flex;
    justify-content: space-between;
    overflow: hidden;
    padding-top:2rem;
    
    /* border: 1px solid #ccc; */
    /* background-color: var(--darkBlue);  */
  }
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

.tab button{
    border-bottom: solid white .05rem;
}

.tab button.active {
    border-bottom: solid black .05rem;
}
  
.tab button:hover {
    border-bottom: solid rgb(184, 184, 184) .05rem;
}
  
  

.tabcontent {
    display: flex;
    padding: 3rem 0rem;
    
    border-top: none;
}

.portrait{
    display:flex;
    justify-content: center;
    object-fit: scale-down;
    overflow:hidden;
    max-height:20rem;
    max-width:20rem;
    float:left;
}

.bio{
    display:flex;
    align-items: center;
    padding:1rem;


}
.content{
    display:flex;
}

.card-img-top{
    height: 115px;
}

.card{
    border: none;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    margin:1rem;
}

.link-container{
    position:absolute;
    top:15.6rem;
    left:1rem;
}

.btn{
    max-height: 38px;
    background-color: white;
    color:black;
    position: relative;
    right: -.6rem;
} 

.icon-div{
    position:relative;
    bottom:.187rem;
}

.icon-img{
    color: black;
    height:24px;
    width:24px;
}


.card-footer{
    background-color: white;
    border-color:white;
}

.row{
    display:flex;
    justify-content: center;
}

ul {
    list-style: none;
}

.tech-logos{
    display:inline-block;
}

.tech-logo{
    margin:auto;
    object-fit: contain;
    max-width: 30%;
    max-height: 225px;
}








